<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- Use queryParams to process the query passed in to the link : like /servers/edit?CanEdit=1 -->
      <a
        [routerLink]= "['/servers', server.id]"
        [queryParams] ="{allowEdit: server.id === 3 ? '1' : '0'}"
        fragment="loading"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!-- router outlet adds a new hook which will used on all child routes od the routes being loaded on the servers component. -->
    <router-outlet></router-outlet>
    <!-- <a routerLink="/servers">Reload Page!!</a> -->
    <!-- <button class="btn btn-primary" (click)="onReload()">Reload Page</button>
    <app-edit-server></app-edit-server>
    <hr> -->
    <!-- <app-server></app-server> -->
  </div>
</div>

